#items-bar {
    background-color: #e0e0e0;
    text-align: center;
    flex-direction: column;
}

#items-bar-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#fontSize-textField {
    text-align: center;
    width: 100px;
}

#items-bar-3 {
    display: flex;
    margin: auto;
}

#fontSize-input {
    padding: 6px 8px
}

#bold-btn:active, #bold-btn:focus, #bold-btn:checked {
    background-color: lightblue;
    color: white;
}
